@using SFA.DAS.AdminService.Web.Extensions
@using SFA.DAS.AdminService.Web.ViewModels.RoatpAssessor.Gateway
@using SFA.DAS.AssessorService.Api.Types.Models.Roatp.Assessor

@model DashboardViewModel

<partial name="_RoatpBreadcrumb" />

<main class="govuk-main-wrapper roatp-assessor-dashboard" id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-m">Gateway</span>
            <h1 class="govuk-heading-xl">RoATP applications</h1>
        </div>
    </div>

    <div class="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>

        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
                <a asp-route="@RouteNames.RoatpAssessor_Gateway_Dashboard_Get" asp-route-tab="@nameof(DashboardTab.New)" class="govuk-tabs__tab @Model.NewApplicationsTabCss">
                    New (@Model.NewApplicationsCount)
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a asp-route="@RouteNames.RoatpAssessor_Gateway_Dashboard_Get" asp-route-tab="@nameof(DashboardTab.InProgress)" class="govuk-tabs__tab @Model.InProgressTabCss">
                    In progress (@Model.InProgressCount)
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a asp-route="@RouteNames.RoatpAssessor_Gateway_Dashboard_Get" asp-route-tab="@nameof(DashboardTab.Outcomes)" class="govuk-tabs__tab @Model.OutcomesTabCss">
                    Gateway outcomes
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a asp-route="@RouteNames.RoatpAssessor_Gateway_Dashboard_Get" asp-route-tab="@nameof(DashboardTab.Search)" class="govuk-tabs__tab @Model.SearchTabCss">
                    Search applications
                </a>
            </li>
        </ul>

        @if (Model.Tab == DashboardTab.New)
        {
            <section class="govuk-tabs__panel">

                <h2 class="govuk-heading-l">New</h2>
                <table class="govuk-table govuk-!-font-size-16">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <a aria-sort="@Model.GetAriaSort(nameof(Application.OrganisationName))"
                                   asp-route="@RouteNames.RoatpAssessor_Gateway_Dashboard_Get"
                                   asp-route-tab="@nameof(DashboardTab.New)"
                                   asp-route-sortBy="@nameof(Application.OrganisationName)"
                                   asp-route-sort="@Model.GetRouteSort(nameof(Application.OrganisationName))">Organisation name</a>
                            </th>
                            <th class="govuk-table__header">
                                <a aria-sort="@Model.GetAriaSort(nameof(Application.UKPRN))"
                                   asp-route="@RouteNames.RoatpAssessor_Gateway_Dashboard_Get"
                                   asp-route-tab="@nameof(DashboardTab.New)"
                                   asp-route-sortBy="@nameof(Application.UKPRN)"
                                   asp-route-sort="@Model.GetRouteSort(nameof(Application.UKPRN))">UKPRN</a>
                            </th>
                            <th class="govuk-table__header">
                                <a aria-sort="@Model.GetAriaSort(nameof(Application.ReferenceNumber))"
                                   asp-route="@RouteNames.RoatpAssessor_Gateway_Dashboard_Get"
                                   asp-route-tab="@nameof(DashboardTab.New)"
                                   asp-route-sortBy="@nameof(Application.ReferenceNumber)"
                                   asp-route-sort="@Model.GetRouteSort(nameof(Application.ReferenceNumber))">Application<br />reference number</a>
                            </th>
                            <th class="govuk-table__header">
                                <a aria-sort="@Model.GetAriaSort(nameof(Application.ApplicationRouteId))"
                                   asp-route="@RouteNames.RoatpAssessor_Gateway_Dashboard_Get"
                                   asp-route-tab="@nameof(DashboardTab.New)"
                                   asp-route-sortBy="@nameof(Application.ApplicationRouteId)"
                                   asp-route-sort="@Model.GetRouteSort(nameof(Application.ApplicationRouteId))">Provider route</a>
                            </th>
                            <th class="govuk-table__header">
                                <a aria-sort="@Model.GetAriaSort(nameof(Application.ApplicationSubmittedOn))"
                                   asp-route="@RouteNames.RoatpAssessor_Gateway_Dashboard_Get"
                                   asp-route-tab="@nameof(DashboardTab.New)"
                                   asp-route-sortBy="@nameof(Application.ApplicationSubmittedOn)"
                                   asp-route-sort="@Model.GetRouteSort(nameof(Application.ApplicationSubmittedOn))">Application submitted</a>
                            </th>
                            <th class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var application in Model.NewApplications)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@application.OrganisationName</td>
                                <td class="govuk-table__cell">@application.UKPRN</td>
                                <td class="govuk-table__cell">@application.ReferenceNumber</td>
                                <td class="govuk-table__cell">@Model.ProviderRoute(application.ApplicationRouteId)</td>
                                <td class="govuk-table__cell">@application.ApplicationSubmittedOn.ToGdsDate()</td>
                                <td class="govuk-table__cell">
                                    <form asp-route="@RouteNames.RoatpAssessor_Gateway_Start_Review" asp-route-applicationId="@application.ApplicationId">
                                        <button type="submit" class="govuk-button--looks-like-link  govuk-!-font-size-16">Assign to me</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </section>
        }

        @if (Model.Tab == DashboardTab.InProgress)
        {
            <section class="govuk-tabs__panel">

                <h2 class="govuk-heading-l">In progress</h2>

            </section>
        }

        @if (Model.Tab == DashboardTab.Outcomes)
        {
            <section class="govuk-tabs__panel">

                <h2 class="govuk-heading-l">Gateway outcomes</h2>

            </section>
        }

        @if (Model.Tab == DashboardTab.Search)
        {

            <section class="govuk-tabs__panel">

                <h2 class="govuk-heading-l">Search applications</h2>

            </section>
        }

    </div>
</main>