@using SFA.DAS.AdminService.Web.Helpers;
@using SFA.DAS.AssessorService.Domain.Extensions

@model SFA.DAS.AdminService.Web.ViewModels.Apply.Applications.RoatpTaskListViewModel

@{
    ViewBag.Title = "Application overview";
    var BackAction = "OpenApplications";

}

<a class="govuk-back-link" asp-controller="RoatpApplication" asp-action="@BackAction">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (Model.Sequences == null)
            {
                <h1 class="govuk-heading-xl">Application not active</h1>
            }
            else
            {
                <h1 class="govuk-heading-xl">Application overview</h1>

                <partial name="~/Views/Roatp/Apply/_OrganisationDetails.cshtml" />

                <ul class="govuk-list">
                    @foreach (var applicationSequence in Model.ApplySequences.Where(seq => !seq.NotRequired && seq.IsActive).OrderBy(seq => seq.SequenceNo))
                    {
                        <li>
                            <h2 class="govuk-heading-m">
                                @applicationSequence.Description
                            </h2>

                            @foreach (var applicationSection in applicationSequence.Sections.Where(sec => !sec.NotRequired).OrderBy(sec => sec.SectionNo))
                            {
                                var section = Model.Sections.Single(s => s.SectionNo == applicationSection.SectionNo && s.SequenceNo == applicationSequence.SequenceNo);

                                @* NOTE: If it is section 7.6 (DAT section) we need to display it differently *@

                                foreach (var pg in section.QnAData.Pages.Where(p => p.Active))
                                {
                                    <a class="govuk-link" href="@Url.Action("Page", "RoatpApplication", new {section.ApplicationId, section.SequenceNo, section.SectionNo, pg.PageId})">
                                        @* TODO: Show correct content as apparently it depends on a number of factors. *@
                                        @if (pg.DisplayType == "PagesWithSections" || pg.DisplayType == "OtherPagesInPagesWithSections")
                                        {
                                            if (!string.IsNullOrEmpty(pg.BodyText))
                                            {
                                                @pg.BodyText
                                            }
                                            else if(pg.Questions != null && pg.Questions.Any())
                                            {
                                                @pg.Questions[0].Label
                                            }
                                        }
                                        else if (pg.Questions != null && pg.Questions.Count == 1)
                                        {
                                            @pg.Questions[0].Label
                                        }
                                        else
                                        {
                                            @pg.Title
                                        }
                                    </a>

                                    var applicationPage = applicationSection.Pages?.FirstOrDefault(p => p.PageId == pg.PageId);

                                    @if (!string.IsNullOrWhiteSpace(applicationPage?.ReviewStatus))
                                    {
                                        <div class="govuk-tag">
                                            @Html.Raw(applicationPage.ReviewStatus)
                                        </div>
                                    }

                                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                                }
                            }
                        </li>
                    }
                </ul>

                <ul class="govuk-list">
                    <li>
                        <h2 class="govuk-heading-m">
                            Assessor outcome
                        </h2>

                        @* TODO: Place all of this into an Assessor Outcome page *@
                        @{
                        <a class="govuk-link" href="#">
                            Confirm assessor outcome
                        </a>

                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="pass" type="radio" name="outcome" value="Pass">
                                <label class="govuk-label govuk-radios__label" for="pass">Pass</label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="fail" type="radio" name="outcome" value="Fail" />
                                <label class="govuk-label govuk-radios__label" for="fail">Fail</label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="clarification" type="radio" name="outcome" value="Clarification" />
                                <label class="govuk-label govuk-radios__label" for="Clarification">Clarification</label>
                            </div>
                        </div>
                        }
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    </li>
                </ul>
            }

            <p class="govuk-body">
                <a class="govuk-link" asp-controller="RoatpApplication" asp-action="@BackAction">Return to applications</a>
            </p>
        </div>`
    </div>
</main>